@model ProductCreateVM

@section Styles {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/custom-select2.css" />
}

<content>
    <form method="post" class="px-3 mt-3 container-fluid" enctype="multipart/form-data">
        <input asp-for="Product.Id" hidden />
        <div class="row d-flex justify-content-between">
            <h3 class="col-6">Create product</h3>
            <div class="col-6 d-flex justify-content-end">
                <div class="form-check form-switch mb-2">
                    <label class="form-check-label fw-bold" asp-for="Product.IsFeatured">Is Feature?</label>
                    <input class="form-check-input" type="checkbox" asp-for="Product.IsFeatured">
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <label asp-for="Product.Name" class="form-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3 g-2">
            <div class="col-12 col-md-4">
                <label asp-for="Product.Price" class="form-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4">
                <label asp-for="Product.PriceSell" class="form-label"></label>
                <input asp-for="Product.PriceSell" class="form-control" />
                <span asp-validation-for="Product.PriceSell" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4">
                <label asp-for="Product.Quantity" class="form-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3 g-2">
            <div class="col-12 col-md-6">
                <label asp-for="SelectedCategory" class="form-label">Categories</label>
                <select asp-for="SelectedCategory" class="form-select" multiple="multiple" style="max-width: 100%;">
                    <option disabled selected>Choose Category</option>
                    @foreach (var category in Model.CategoryList)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="Product.Status" class="form-label">Status</label>
                <select asp-for="Product.Status" class="form-select" style="max-width: 100%;">
                    @foreach (var status in Model.StatusList)
                    {
                        <option value="@status.Id" data-style="@status.Name">@status.Name</option>
                    }
                </select>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-12">
                <label asp-for="Product.Description" class="form-label"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <a asp-controller="product" asp-action="Index" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</content>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/js/tinymceSettings.js"></script>

    <script>

        $(document).ready(function () {

            // Initialize Select2
            $('#SelectedCategory').select2();

            // Initialize Select2 
            $('#Product_Status').select2({
                templateResult: formatState1,
                templateSelection: formatState1
            });

            //custom select status
            function formatState1(state) {
                if (!state.id) {
                    return state.text;
                }

                var $state = $(
                    '<span class="badge rounded-pill ' +
                    (state.element.dataset.style === 'Deleted' ? 'bg-danger' :
                        state.element.dataset.style === 'Public' ? 'bg-primary' :
                            state.element.dataset.style === 'Private' ? 'bg-warning' : 'bg-secondary') +
                    '">' + state.text + '</span>'
                );

                return $state;
            }

        });


    </script>
}