@model SubCategoryVM
<content>
    <h3 class="mb-3">Danh mục con</h3>
    <div class="row">
        <div class="col-6">
            <a asp-controller="Category" asp-action="SubCategoryCreate" asp-route-categoryId="@Model.CategoryId" class="btn btn-primary">Thêm</a>
        </div>
    </div>

    <div class="table-responsive text-nowrap mt-3">
        <table class="table">
            <thead>
                <tr class="fw-bold">
                    <td style="width: 10%;">ID</td>
                    <td style="width: 60%;">Tên danh mục</td>
                    <td>Hành động</td>
                </tr>
            </thead>
            <tbody class="align-middle table-border-bottom-0">
                @if (Model.SubCategories != null && Model.SubCategories.Count != 0)
                {
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        <tr>
                            <td>@subCategory.Id</td>
                            <td>@subCategory.Name</td>
                            <td style="color: #fff">
                                <a asp-controller="Category"
                                   asp-action="SubCategoryUpdate"
                                   asp-route-categoryId="@Model.CategoryId"
                                   asp-route-subCategoryId="@subCategory.Id"
                                   class="btn btn-warning mx-1">
                                    Sửa
                                </a>
                                <button class="btn btn-danger mx-1"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalToggle"
                                        onclick="getSubCategoryId(@subCategory.Id)">
                                    Xóa
                                </button>
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    @if (Model.SubCategories != null && Model.SubCategories.Count != 0)
    {
        @* paging *@
        var prevDisabled = !Model.SubCategories.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.SubCategories.HasNextPage ? "disabled" : "";
        var firstDisabled = Model.SubCategories.PageIndex <= 1 ? "disabled" : "";
        var lastDisabled = Model.SubCategories.PageIndex == Model.SubCategories.TotalPages ? "disabled" : "";

        <div class="row mt-3">
            <ul class="pagination justify-content-center">
                <li class="mx-1 page-item @firstDisabled">
                    <a class="rounded page-link"
                       asp-route-categoryId="@ViewData["CategoryId"]"
                    asp-route-page="1"
                       >
                        <span>First</span>
                    </a>
                </li>
                <li class="mx-1 page-item @prevDisabled">
                    <a class="rounded page-link"
                       asp-route-categoryId="@ViewData["CategoryId"]"
                    asp-route-page="@(Model.SubCategories.PageIndex - 1)"
                    >
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>
                @for (int i = 1; i <= Model.SubCategories.TotalPages; i++)
                {
                    <li class="mx-1 page-item">
                        <a class="rounded page-link @(Model.SubCategories.PageIndex == i ? "active" : "")"
                           asp-route-categoryId="@ViewData["CategoryId"]"
                        asp-route-page="@(i)"
                           > @i</a>
                    </li>
                }
                <li class="mx-1 page-item @nextDisabled">
                    <a class="rounded page-link"
                       asp-route-categoryId="@ViewData["CategoryId"]"
                    asp-route-page="@(Model.SubCategories.PageIndex + 1)"
                      >
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
                <li class="mx-1 page-item @lastDisabled">
                    <a class="rounded page-link"
                       asp-route-categoryId="@ViewData["CategoryId"]"
                    asp-route-page="@(Model.SubCategories.TotalPages)"
                       >
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </div>
    }

</content>

<!-- Modal Delete-->
<div class="modal fade"
     id="modalToggle"
     aria-labelledby="modalToggleLabel"
     tabindex="-1"
     style="display: none"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">Xóa danh mục</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body pb-1">Bạn muốn xóa danh mục này?</div>
            <div class="modal-footer">
                <button id="btnDelete" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let subCategoryId = 0;
        $(document).ready(function () {
            $('#btnDelete').click(function () {
                deleteSubCategory(subCategoryId);
            });
        });
        function getSubCategoryId(id) {
            subCategoryId = id;
            console.log(subCategoryId)
        }

        function deleteSubCategory(subCategoryId) {
            $.ajax({
                type: "POST",
                url: `/Admin/Category/SubCategory/Delete?subCategoryId=${subCategoryId}`,
                success: function (response) {
                    if (response.message === "Xóa thành công") {
                        window.location.reload();
                    }
                }
            });
        }
    </script>
}